:root{
    --primary-color:  #4caf50;
    --secondery-color:#fff;
    --background-color: #f4f4f4;
    --card-background-color:#fff;
    --card-shadow:rgba(0,0,0,0.2);
}

body{
background-color: var(--background-color);
font-family: Roboto, sans-serif;
color: #333;
margin: 0;
padding: 0;
}

h2,h1{
    color: var(--primary-color);
} 



ul{
    list-style: none;
}

button{
    background-color: var(--primary-color);
    color: var(--secondery-color);
    padding: 0.8rem 1.6rem;
    margin: 0.8rem 0;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
button:hover{
  background-color: var(--secondery-color);
  color: var(--primary-color);
}

input,select,textarea{
width: 100%;
padding: 0.8rem;
margin: 0.5rem 0;
border-radius: 0.5rem;
box-sizing: border-box;
}
.card{
    background-color: var(--card-background-color);
    border-radius: 0.5rem;
    margin: 1.2rem;
    padding: 1.2rem;
    box-shadow: 0 0.2rem 0.4rem var(--card-shadow);
}


/* header start here */
header{
background-color:var(--primary-color);
color: var(--secondery-color);
text-align: center;
text-decoration: none;
padding: 1.5rem 0;  
}
nav ul{
padding: 0;
margin: 0;
display: flex;
justify-content: center;



}
nav ul li{
margin: 0 0.8rem;


}
nav ul li a{
color: var(--secondery-color);
font-weight: bold;
text-decoration: none;




}
/* header end here */

/* main start here */
main{
width: 80%;
margin: auto;
padding: 1.2rem;
}
.intro{
    background-image: url(https://i.postimg.cc/pLK8FR24/tianyi-ma-Wi-ONHd-z-YI4-unsplash.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}
.intro__title{
    font-size: 3rem;
    background-color: wheat;
    padding: 0.5rem;
}
.intro__description{
    color: white;
    font-size: 1.2rem;
}
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Contacts{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
}
#Contacts h2{
    text-align: center;
}
img{
    height: 200px;
    width: 200px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 12rem 0;
}
table,th,td{
border: 1px solid #ddd;
padding: 0.5rem

}
th{
    background-color: #f2f2f2;
}

/* main end here */

/* footer stare here  */
footer{
    background-color: var(--primary-color);
    color: var(--secondery-color);
    text-align: center; 
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
    
}
#call{
    text-decoration: none;
    color: white;
}
#email{
    text-decoration: none;
    color: white;
}
    
.call-me a{
    text-decoration: none;
}
.copyright{
    margin-bottom: -1rem;
}
.social-media ul{
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-left: 0;
    padding: 0;
}
.social-media h2{
    color: var(--secondery-color);
    text-align: center;
}
.social-media a{
    color:var(--secondery-color);
    font-size: 1rem;
    text-decoration: none;
    margin: 0.3rem;
    
}
/* footer end here  */

/* responsiveness start here */
@media screen and (max-width: 1200px){
    body{
     background-color: green;
    } 
 }
 @media screen and (max-width: 900px){
  .intro{
    height: 25vh;
    background-image: none;
    text-align: center;
  }
  .intro__description{
    color: black;
    font-size: 1rem;
  }
 }
 @media screen and (max-width: 768px){
 footer{
    flex-direction: column;
 }
 }
 @media screen and (max-width: 600px){
    body{
     background-color: aqua;
    } 
 }